<footer th:fragment="common_admin_footer" class="footer_bg pt-3 text-center text-white">
	<div class="container-fluid">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item">
				<a th:href="@{/admin/news}" class="nav-link px-2 text-white">お知らせ管理</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/admin/members}" class="nav-link px-2 text-white">部員管理</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/admin/matches}" class="nav-link px-2 text-white">試合管理</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/admin/inquiries}" class="nav-link px-2 text-white">お問い合わせ管理</a>
			</li>
		</ul>
		<p class="mb-0 pb-4">&copy; 2025 〇〇大学準硬式野球部	</p>
	</div>
</footer>