<footer th:fragment="common_footer" class="pt-3 bg-dark text-center text-white">
	<div class="container-fruid">
		<div class="mb-3">
			<a href="#" class="me-3 fs-4 text-white"><i class="bi bi-instagram"></i></a>
			<a href="#" class="fs-4 text-white"><i class="bi bi-twitter-x"></i></a>
		</div>
		
		 <ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item">
				<a th:href="@{/news}" class="nav-link px-2 text-white">お知らせ</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/members}" class="nav-link px-2 text-white">部員紹介</a>
			</li>
		</ul>
		<p class="mb-0 pb-4">&copy; 2025 〇〇大学準硬式野球部	</p>
	</div>
</footer>