<footer th:fragment="common_footer" class="footer_bg pt-3 text-center text-white">
	<div class="container-fluid">
		<div class="mb-3">
			<a href="#" class="me-3 fs-4 text-white"><i class="bi bi-instagram"></i></a>
			<a href="#" class="fs-4 text-white"><i class="bi bi-twitter-x"></i></a>
		</div>
		
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item me-3">
				<a class="nav-link link-light" th:href="@{/}">トップ</a>
			</li>
			<li class="nav-item me-3">
				<a class="nav-link link-light" th:href="@{/news}">お知らせ</a>
			</li>
			<li class="nav-item me-3">
				<a class="nav-link link-light" th:href="@{/members}">部員紹介</a>
			</li>
			<li class="nav-item me-3">
				<a class="nav-link link-light" th:href="@{/matches}">試合結果</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" th:href="@{/inquiries}">お問い合わせ</a>
			</li>
		</ul>
		<p class="mb-0 pb-4">&copy; 2025 北海道科学大学 準硬式野球部	</p>
	</div>
	
	<a href="#" id="topBtn" class="btn btn-dark btn-lg back-to-top" role="button">
		<i class="bi bi-arrow-up"></i>
	</a>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/js/script.js}"></script>
</footer>