<header th:fragment="common_header">
	<nav class="navbar bg-dark navbar-expand-md fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand link-light" th:href="@{/}">北海道科学大学 準硬式野球部</a>
			<button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">メニュー</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item me-3">
							<a class="nav-link link-light" th:href="@{/}">トップ</a>
						</li>
						<li class="nav-item me-3">
							<a class="nav-link link-light" th:href="@{/news}">お知らせ</a>
						</li>
						<li class="nav-item me-3">
							<a class="nav-link link-light" th:href="@{/members}">部員紹介</a>
						</li>
						<li class="nav-item me-3">
							<a class="nav-link link-light" th:href="@{/matches}">試合結果</a>
						</li>
						<li class="nav-item me-3">
							<a class="nav-link link-light" th:href="@{/inquiry}">お問い合わせ</a>
						</li>	
						<li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item me-3">
							<a class="nav-link link-light" th:href="@{/admin}">管理者画面</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>