@charset "UTF-8";
html, body {
	height: 100%;
}

body{
	padding-top: 60px;
}

main{
	min-height: calc(100vh - 160px);
}

/* カードにホバーしたときの効果 */
.card-hover {
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* ホバー効果を滑らかにする */
}

.card-hover:hover {
	transform: translateY(-5px); /* 少し上に浮き上がる */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 影を濃くする */
	filter: brightness(0.9); /* 少し暗くする */
}

.news_img{
	width: 80%;
	height: auto;
}

.member_img{
	width: 100%;
	height: 400px;
	aspect-ratio: 3 / 4;
	object-fit: cover;
}

.cta-section{
	height: 400px;
	background-image: linear-gradient(
		 rgba(0, 0, 0, 0.6),
		 rgba(0, 0, 0, 0.6)),
		 url(https://placehold.jp/1000x400.png?text=問い合わせ);
		  background-size: cover;
		  background-position: center;
}

.footer_bg{
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)),
		url(/images/footer_bg.jpg);
	background-size: cover;
	background-position: center;
}