@charset "UTF-8";
html, body {
	height: 100%;
}

body{
	padding-top: 60px;
}

main{
	min-height: calc(100vh - 160px);
}

.footer_bg{
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)),
		url(/images/footer_bg.jpg);
	background-size: cover;
	background-position: center;
}