@charset "UTF-8";
html, body {
	height: 100%;
}

body{
	padding-top: 60px;
}

main{
	min-height: calc(100vh - 160px);
	margin-bottom: 160px;
}

/* カードにホバーしたときの効果 */
.card-hover {
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* ホバー効果を滑らかにする */
}

.card-hover:hover {
	transform: translateY(-5px); /* 少し上に浮き上がる */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 影を濃くする */
	filter: brightness(0.9); /* 少し暗くする */
}

.news_img{
	aspect-ratio: 4 / 3;
}

.member_img{
	width: 100%;
	height: 400px;
	aspect-ratio: 3 / 4;
	object-fit: cover;
}

.match_img{
	aspect-ratio: 4 / 3;
}

.cta-section{
	height: 400px;
	background-image: linear-gradient(
		 rgba(0, 0, 0, 0.6),
		 rgba(0, 0, 0, 0.6)),
		 url(https://placehold.jp/1000x400.png?text=問い合わせ);
		  background-size: cover;
		  background-position: center;
}

/*お知らせのテーブル*/
.news_id{width: 5%;}
.news_date{width: 10%;}
.news_title{width: 20%;}
.news_category{width: 10%;}
.news_photo{width: 45%;}
.news_operation{width: 10%;}

/*部員のテーブル*/

/*試合のテーブル*/

/*お問い合わせのテーブル*/
.inquiry_id{width: 5%;}
.inquiry_name{width: 10%;}
.inquiry_subject{width: 30%;}
.inquiry_date{width: 15%;}
.inquiry_status{width: 10%;}
.inquiry_operation{width: 30%;}


.inquiry_content{
	white-space: pre-wrap;
}

.footer_bg{
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)),
		url(/images/footer_bg.jpg);
	background-size: cover;
	background-position: center;
}

.back-to-top{
	color: white;
	background-color: darkred;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: fixed;
	bottom: 25px;
	right: 25px;
	display: none;
	z-index: 99;
	opacity: 0.7;
}

.back-to-top:hover{
	background-color: darkred;
	border-color: darkred;
}