<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{fragments/head :: common_head('部活動について', '/about',
	'私たち北海道科学大学準硬式野球部の活動内容や理念、練習場所などを詳しくご紹介します。
	チームの雰囲気を知りたい方はこちら。')}"></head>
<body>
	<div th:replace="~{fragments/header :: common_header}"></div>
	
	<main>
		<section class="container mt-5">
			<h1 class="text-center mb-4">私たちについて</h1>
			<div class="about row justify-content-center pt-5">
				<div class="col-md-7 text-center text-white pb-5">
					<p class="fs-4">
						「大学から何か新しいことを始めたいけど、運動部は大変そう…」<br>
						「高校まで野球をやってきたけど、これからは自分のペースで楽しみたい…」<br>
						<br>
						そんなあなたに、ぴったりの場所がここにあります！<br>
						<br>
						私たち北海道科学大学準硬式野球部は、活動が比較的少なく、学業やアルバイトとも両立しやすいのが魅力です！<br>
						野球を純粋に楽しみながら、大学生活も充実させたい仲間が集まっています。<br>
						<br>
						先輩たちも大学から野球を始めた初心者もいるので、経験は一切問いません。<br>
						もちろん、経験者や、チームを支えてくれるマネージャーも大歓迎です！<br>
						<br>
						新しい仲間を、いつでも待っています！
					</p>
				</div>
			</div>
		</section>

	</main>
	
	
	<div th:replace="~{fragments/footer :: common_footer}"></div>
</body>
</html>