<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{fragments/head :: common_head('トップページ', '/', 
	'北海道科学大学準硬式野球部の公式ホームページです。様々なお知らせ、試合結果、
	部員紹介などを発信しています。ご質問などのお問い合わせにも対応しています。')}">
</head>
<body>
	<div th:replace="~{fragments/header :: common_header}"></div>
	
	<main>
		<section class="introduction bg-dark pt-5 pb-5">
			<div class="text-center mb-5">
				<!--管理者ページからログアウトした時に表示-->
				<div th:if="${param.logout}" class="alert alert-success" role="alert">
					ログアウトしました。
				</div>
				
				<h1 class="index">北海道科学大学<br class="d-lg-none"> 準硬式野球部</h1>
				<p class="fs-4 mt-3 mb-4">私たちの活動や試合結果をお届けします</p>

			</div>
			
			<div class="row justify-content-center">
				<!--部活の雰囲気のわかる写真-->
				<div class="text-center">
					<figure class="figure">
						<img src="images/introduction.jpg"
							class="introduction_img figure-img img-fluid rounded shadow" alt="部活の活動写真">
						<figcaption class="figure-caption text-center">活動写真</figcaption>
					</figure>
				</div>
				
			</div>
		</section>
		
		<section class="news mb-5">
			<h2 class="pt-5 mb-5">最近のお知らせ
				<div class="border-bottom border-danger text-end">
					<a th:href="@{/news}" class="btn btn-outline-danger mb-2">一覧へ</a>
				</div>
			</h2>
			
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 border-bottom border-danger mb-5">
				<article class="col pb-5" th:each="news : ${latestNews}">
					
					<div class="card shadow-sm card-hover h-100">
						<a th:href="@{/news/{id}(id=${news.id})}" class="d-flex flex-column h-100 text-decoration-none text-dark">
							<img th:if="${news.photo}" th:src="@{${news.photo}}" class="news_img card-img-top" alt="お知らせ写真">
							<div class="card-body">
								<h3 class="card-title text-center" th:text="${news.title}">タイトル</h3>
							</div>
							<div class="card-footer">
								<p class="card-text text-muted" 
									th:text="${#temporals.format(news.postedDate, 'yyyy年MM月dd日')}">日付</p>
							</div>
						</a>
					</div>
					
				</article>
			</div>
		</section>
		
		<section class="match pb-5">
			<h2 class="pt-5 mb-5">最近の試合結果
				<div class="border-bottom border-danger text-end">
					<a th:href="@{/matches}" class="btn btn-outline-danger mb-2">一覧へ</a>
				</div>
			</h2>
			
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 border-bottom border-danger">
				<article class="col pb-5" th:each="match : ${latestMatches}">
					
					<div class="card shadow-sm card-hover h-100">
						<a th:href="@{/matches/{id}(id=${match.id})}" class="text-decoration-none text-dark">
							<img th:if="@{match.photo}" th:src="@{${match.photo}}"
								class="match_img card-img-top" alt="試合写真">
							<div class="card-body">
								<h3 class="card-title text-center" th:text="'対戦相手： ' + ${match.opponent}">対戦相手</h3>
								<div class="d-flex justify-content-center align-items-center fs-3">
									<span th:text="${match.ourScore}"></span>
									<span class="mx-2">-</span>
									<span th:text="${match.opponentScore}"></span>
								</div>
								<p class="text-center fs-4 fw-bold"
									th:text="${match.result}"
									th:classappend="${match.result == '勝利'} ? 'text-success' :
									(${match.result == '敗北'} ? 'text-danger' : 'text-secondary')"></p>
								<p class="text-center" th:text="${match.venue}"></p>
							</div>
						</a>
					</div>
					
				</article>
			</div>
		</section>
		
		<section class="cta-section container text-white mt-5">
			<div class="text-center">
				<h2 class="py-5">お問い合わせフォーム</h2>
				<p class="fs-4 mb-5">
					「練習は週に何回？」「部費はいくら？」「初心者でも大丈夫？」<br>
					私たちの活動について、どんな些細なことでも構いません！<br><br>

					新入部員やマネージャーの希望、練習の見学はもちろん、他大学様からの練習試合のお申し込みまで、どんなご連絡も大歓迎です！<br>
					現役部員が丁寧にお答えしますので、以下のフォームからお気軽にご連絡ください！
				</p>
				<div class="d-grid col-8 col-sm-6 mx-auto pb-5">
					<a th:href="@{/inquiry}" class="btn btn-danger btn-lg">お問い合わせフォームへ</a>
				</div>
			</div>
					
		</section>
		
	</main>
	
	<div th:replace="~{fragments/footer :: common_footer}"></div>
</body>
</html>