<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="~{fragments/head :: common_head('試合結果')}"></head>

<body>
	<div th:replace="~{fragments/header :: common_header}"></div>
	
	<main>
		<section class="container mt-4 mb-5">
			<h1 class="text-center mb-4">試合結果</h1>
			<!-- 試合結果が登録されていない場合のメッセージ -->
			<div th:if="${matchList.isEmpty()}" class="alert alert-info" role="alert">
				まだ試合結果が登録されていません。
			</div>
			
			<div th:unless="${matchList.isEmpty()}" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
				<div th:each="match : ${matchList}" class="col">
					<a th:href="@{/matches/{id}(id=${match.id})}" class="text-decoration-none text-dark">
						<div class="card shadow-sm card-hover h-100">
							<img th:if="${match.photo}" th:src="@{${match.photo}}" class="card-img-top" alt="試合写真">
							
							<div class="card-body">
								<h3 class="card-title text-center" th:text="'対戦相手： '+${match.opponent}"></h3>
								<div class="d-flex justify-content-center align-items-center fs-3">
									<span th:text="${match.ourScore}"></span>
									<span class="mx-2">-</span>
									<span th:text="${match.opponentScore}"></span>
								</div>
								<p class="text-center fs-4 fw-bold"
									th:text="${match.result}"
									th:classappend="${match.result == '勝利'} ? 'text-success' :
									(${match.result == '敗北'} ? 'text-danger' : 'text-secondary')">
								</p>
								<p class="text-center" th:text="${match.venue}"></p>
							</div>
							
							<div class="card-footer text-end">
								<span th:text="${#temporals.format(match.matchDate, 'yyyy年MM月dd日')}"></span>
							</div>
							
						</div>
					</a>
				</div>
			</div>
				
		</section>
	</main>
	
	<div th:replace="~{fragments/footer :: common_footer}"></div>
</body>
</html>