<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	
<head th:replace="~{fragments/head :: common_head('部員紹介', '/members',
	'北海道科学大学準硬式野球部で活躍する部員たちを紹介しています。')}">
</head>

<body>
	<div th:replace="~{fragments/header :: common_header}"></div>
	
	<main class="mt-5">
		<section class="container mt-4 mb-5">
			<h1 class="mb-4 text-center">部員紹介</h1>
			<div th:each="grade : ${grades}">
				<h2 class="grade-border display-4 mb-4" th:text="${grade} + '年生'"></h2>
				
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-5" th:each="member : ${memberList}" th:if="${member.grade == grade}" >
						
						<div class="card shadow-sm h-100">
							<img th:if="${member.photo}" th:src="@{${member.photo}}" class="member_img card-img-top" alt="部員写真">
							<div class="card-body d-flex flex-column">
								<ul class="list-group list-group-flush">
									<li class="list-group-item"  th:text="'名前 : ' + ${member.name}">名前</li>
									<li class="list-group-item" th:text="'学年 : ' + ${member.grade} + '年'">学年</li>
									<li class="list-group-item" th:text="'出身校 : ' + ${member.almaMater}">出身校</li>
									<li class="list-group-item" th:text="'ポジション : ' + ${member.position}">ポジション</li>
									<li class="list-group-item" th:text="'学部 : ' + ${member.faculty}">学部</li>
									<li class="list-group-item" th:text="'学科 : ' + ${member.department}">学科</li>
								</ul>
							</div>
						</div>
					</div>
					<span th:if="${grade == 1}" class="grade-border"></span>
				</div>
				
			</div>
		</section>
	</main>
	
	<div th:replace="~{fragments/footer :: common_footer}" class="mt-auto"></div>
</body>
</html>