<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('お知らせ詳細')}"></head>
<body>
	<div th:replace="~{fragments/header :: common_header}"></div>
	
	<main class="mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<article class="col-lg-8" th:object="${newsItem}">
					<p class="text-muted" th:text="*{#temporals.format(postedDate, 'yyyy年MM月dd日')}"></p>
					<h1 class="border-bottom border-danger" th:text="*{title}">タイトル</h1>
					<div class="text-center mt-5">
						<img th:if="*{photo}" th:src="@{*{photo}}" class="img-fluid w-100" alt="お知らせ写真">
					</div>

					<div class="text-center mt-4 mb-5 fs-4">
						<p th:text="*{content}">文章</p>
					</div>
					
					<div class="text-end mt-4">
						<a th:href="@{/news}" class="btn btn-danger">お知らせ一覧に戻る</a>
					</div>
				</article>
			</div>
		</div>
	</main>
	
	<div th:replace="~{fragments/footer :: common_footer}"></div>
</body>
</html>